body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

a:hover, a:focus {
    font-style: italic;
}

footer p {
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    text-indent: 30px;
}

header img {
    margin-right: 10px; /* Adjust as needed for spacing */
}

header h2 {
    font-size: 170%;
    color: var(--global-color-1);
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

.shadow {
    text-shadow: 2px 1px 1.6px #800000;
}

:root {
    --global-color-1: #800000;
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}
